<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--connectionString : to create a string to connect to database use name :connstrng while creating connection to DB in class -->
	<connectionStrings>
		<add name="connstrng" connectionString="Data Source=DESKTOP-BH10LTJ\SQLEXPRESS;Initial Catalog=Contact;Integrated Security=True;"/>
	</connectionStrings>

</configuration>